.footerContainer{
    height: 750px ;
    background-color: black;
    color: white;
    width: 100%;
    font-family:var(--roboto);
}
.footerContainer .firstToKnow{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}
.footerContainer .subHeading{
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
}
.footerContainer input{
    height: 47px;
    width: 384px;
}
.footerContainer input::placeholder{
    Padding:14px  24px 14px 24px;
}
.footerContainer button{
 Height: 48px;
 width: 184px;
border-radius: 5px;
Border:1px solid white;
color: white;
background-color: transparent;
margin-left: 10px;
Opacity:30%
}
.footerContainer .contactUs {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}
.footerContainer  .currency{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}
.footerContainer .phoneNo{
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
}
.footerContainer .usd{
    font-weight: 700;
    font-size: 16px;
    line-height: 19.2px;
}
.footerContainer .email{
    font-weight:400;
    font-size: 16px;
    line-height: 19.2px;
}
.footerContainer .transaction{
    font-weight:400;
    font-size: 12px;
    line-height: 14.2px;
    margin-top: 15px;
}
.footerContainer .bottomHeading{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}
.footerContainer .bottomText{
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 1rem;
    line-height: 21px;
}
@media (max-width: 725.98px) {
.footerContainer{
    height: auto;
}
.footerContainer input{
    height: 47px;
    width: 100%;
}
.footerContainer button{
    width: 100%;
}
.footerContainer .column{
    border-bottom:2px solid white;
    padding-bottom: 20px
}
}